<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <form id="asignacion">
        <input type="text" id="asignacionCodigo" autocomplete="off" required>
        <input type="text" id="idcodigo" autocomplete="off" required>
        <button id="guardar">Guardar</button>
    </form>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/corrector-eventos.js"></script>
</body>
</html>