body{

	padding-top: 6%;
}

span.icon-cont {

	position: relative;
	top: -8px;
}

i.material-icons.contestadas{

	color: #2b982b;
}

i.material-icons.duda{

	color: #ff9600;
}

i.material-icons.no-contestadas{

	color: #fb483a;
}

.icons-instrumento{

	text-align: center;
}

.card.bg-gray{

	background-color: #f5f5f5;
}