/*
	COLORES
		BG
			#dad6d6
			218 214 214
		NAVBAR
			#5386e4
			83 134 228
		FONT
			#0d1321
			13 19 33

		OTROS
			#1d2d44
			29 45 68

			#3e5c76
			62 92 118

*/
.family-panel{

	overflow-y: auto;
}

.fixed{

	position: absolute;
}

.header > .row > div{

	margin: 0 !important;
}

.btn-respuestas{

	margin: 5% 0.5%;
}

#respuestaContainer .card>.body{

	position:relative;
}

.btn-status{

	position: absolute;
	top: 3%;
	left: 2%;
}

#listadoRespuestas{

	text-align: center;
}

.respuesta-container{

	height: 30vh;
    overflow-y: auto;
}

.btn-group.btn-group-justified {
	
	margin-bottom: 2%;
}

.btn-group.btn-group-justified:last-child {
	
	margin-bottom: 0%;
}

.btn-codigo{

	width: 80% !important;
}

.btn-desc-codigo{

	width: 20% !important;
}

.highlight{

	box-shadow: 0px 0px 30px 5px #5386e4 !important;
}

section.left-panel-ans {
	/*max-height: 85vh;*/
	/*overflow-y: auto;*/
}

.collapsable-left-bar > div > .panel-heading, .family-rigth-bar > div > .panel-heading{

	background-color: #5386e4;
	color: white;
}

.collapsable-left-bar > div, .family-rigth-bar > div{

	border-color: #5386e4;
}

.content{

	margin-top: 6%;
}

.user-image{

	margin-top: 8% !important;
}

.user-image>img{

	border-radius: 50%;
}

.navbar{

	background-color: #5386e4 !important;
}

.btn-siguiente{

	float: right;
}

.btn-duda{

	float: left;
}

.row.heightfix > div{

	
}

.row.heightfix{

	display: flex !important;
	/*max-height: 79vh;*/
	overflow: hidden;
}

#familiasContainer{

	overflow-y: auto; 
}

.cols-corrector{

	/*max-height: 79vh;*/
}

.cols-corrector>.row{

	height: 100%;
}

.cols-corrector>.row>div:first-child{

	height: 40%;
}

.cols-corrector>.row>div:nth-child(2){

	height: 60%;
}


.cols-corrector>.row>div .card{

	height: 98%;
}

.header.row, .header.row>*{

/*	padding-bottom: 0 !important;
	margin-bottom: 0 !important;*/
}








/* LOGIN START*/
	
.login-page{
	background-color: #dad6d6; 
}

.login-page .login-box .logo a{

	color: #337ab7;
}

.login-page .login-box .logo small{

	color: #337ab7;
}

.login-page .login-box a{

	color: #337ab7;
}
/* LOGIN END */