.right-sidebar{

	width: 40vw !important;
	right: calc(-100% + -20px);
	padding: 0% 2%;
}

.crud-select{

	float: right;
}

.row-body{

	display: flex;
}

.body-col{

	margin: auto;
}

.infobox-content{

	margin-top: 0 !important;
}

.infobox-text{

	font-size: 12px;
}

.visible{

	display: block !important;
}